<div class="animated fadeIn delay-1s">

  <!-- <nav class="second-navbar navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active item-to-underline">
          <span class="nav-link hover hover-3" (click)="scroll(home)">Home</span>
        </li>
        <li class="nav-item item-to-underline">
          <span class="nav-link hover hover-3" (click)="scroll(about)">About</span>
        </li>
        <li class="nav-item item-to-underline">
          <span class="nav-link hover hover-3" (click)="scroll(instructor)">Instructor</span>
        </li>
        <li class="nav-item item-to-underline">
          <span class="nav-link hover hover-3" (click)="scroll(programs)">Programs</span>
        </li>
        <li class="nav-item item-to-underline">
          <span class="nav-link hover hover-3" (click)="scroll(pricing)">Pricing</span>
        </li>
        <li class="nav-item item-to-underline">
          <span class="nav-link hover hover-3" (click)="scroll(map)">Location</span>
        </li>
      </ul>
    </div>
  </nav> -->

  <div data-spy="affix" data-offset-top="100" id="dotNav" class="pull-right">
    <ul>
        <li title="Welcome" [ngClass]="{'active': selectedNav == home}" (click)="scroll(home)"></li>
        <li title="About" [ngClass]="{'active': selectedNav == about}" (click)="scroll(about)"></li>
        <li title="Instructor" [ngClass]="{'active': selectedNav == instructor}" (click)="scroll(instructor)"></li>
        <li title="Programs" [ngClass]="{'active': selectedNav == programs}" (click)="scroll(programs)"></li>
        <li title="Pricing" [ngClass]="{'active': selectedNav == pricing}" (click)="scroll(pricing)"></li>
        <li title="Map" [ngClass]="{'active': selectedNav == map}" (click)="scroll(map)"></li>
    </ul>
  </div>

  <div id="content">
    <div #home>
      <div class="parallax">
        <span class="gb-logo"></span>
      </div>
    </div>
    
    <div #about>
      <app-about></app-about>
    </div>
    
    <div #instructor>
      <app-instructor></app-instructor>
    </div>

    <div #programs>
      <app-programs></app-programs>
    </div>

    <div #pricing>
      <app-pricing></app-pricing>
    </div>
    
    <div #map>
      <app-map></app-map>
    </div>
  </div>

</div>


