<div>
  <div data-spy="affix" data-offset-top="100" id="dotNav" class="pull-right">
    <ul>
        <li title="Welcome" 
            [ngClass]="{'active': selectedNav == home}" 
            (click)="scroll(home)"></li>
        <li title="About" 
            [ngClass]="{'active': selectedNav == about}" 
            (click)="scroll(about)"></li>
        <li title="Instructor" 
            [ngClass]="{'active': selectedNav == instructor}" 
            (click)="scroll(instructor)"></li>
        <li title="Programs" 
            [ngClass]="{'active': selectedNav == programs}" 
            (click)="scroll(programs)"></li>
        <li title="Pricing" 
            [ngClass]="{'active': selectedNav == pricing}" 
            (click)="scroll(pricing)"></li>
        <li title="Map" 
            [ngClass]="{'active': selectedNav == map}" 
            (click)="scroll(map)"></li>
    </ul>
  </div>

  <div id="content">
    <div #home>
      <div class="parallax">
        <span class="gb-logo"></span>
      </div>
    </div>
    
    <div #about>
      <app-about></app-about>
    </div>
    
    <div #instructor>
      <app-instructor></app-instructor>
    </div>

    <div #programs>
      <app-programs></app-programs>
    </div>

    <div #pricing>
      <app-pricing></app-pricing>
    </div>
    
    <div #map>
      <app-map></app-map>
    </div>
  </div>

</div>


