.navbar {
  width: 100vw;
}

.second-navbar {
  margin-top: 56px;
  padding: 0px 0px 0px 63px;
  font-size: smaller;
}

.parallax {
    
  background: linear-gradient(
        rgba(187, 187, 187, 0.8), 
        rgba(187, 187, 187, 0.8)),
        url("../../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Set a specific height */
  height: 100vh;

  .gb-logo {
    background-image: url("../../assets/gb-logo-everyone.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-size: 100vh;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vh;
    padding-top: 25vh;
  }
}

@media only screen and (max-width: 700px) {
  .gb-logo {
    background-image: url("../../assets/gb-logo.png") !important;
    background-size: 50vh !important;
  }
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


// THIS IS FOR THE DOT NAV START
.affix-top {
  top: 32%; 
	right: 0;
	position:absolute;
	z-index:2;
}
.affix {
  top: 50px;
	right: 0;
	z-index:2;
}

.pull-right {
  position: fixed;
  right: 16px !important;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

#dotNav {
	z-index: 5;
	right: 6%;
	padding: 7px;
	padding-top: 12px;

  ul {
    list-style: none;
    margin:0;

    li {
      position: relative;
      background: none repeat scroll 0 0 #cccccc;
      border:1px solid #aaaaaa;
      border-radius: 15px 15px 15px 15px;
      cursor: pointer;
      height: 18px;
      margin: 10px 10px 0px 0px;
      width: 18px;
      vertical-align:bottom;

      span {
        // visibility: hidden;

        &:hover {
          color:pink;
          visibility: visible;
          transform: translate3d(42px, -62px, -135px);
        }
      }
    }

    li.active {
      background-color: #ffffff;
      background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
      background-repeat: repeat-x;
    }

    li:hover {
      background: none repeat scroll 0 0 #EEEEEE;
    }
  }

  a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top:-5px;
  }
}

// THIS IS FOR THE DOT NAV END
