.navbar {
  width: 100vw;
}

.parallax {
  /* The image used */
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../../assets/dublin-city-high.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  .gb-logo {
    background-image: url("../../assets/gb-logo-everyone.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-size: 100vh;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vh;
    padding-top: 25vh;
  }
}

@media only screen and (max-width: 700px) {
  .gb-logo {
    background-image: url("../../assets/gb-logo.png") !important;
    background-size: 50vh !important;
  }
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

#content {
  padding-top: 56px;
}