<div class="container-fluid form-container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form (ngSubmit)="processForm(contactForm)"
            #contactForm="ngForm"
            class="form-group">

        <!-- name -->
        <div class="field">
          <input 
            type="text" 
            name="name"
            ngModel
            #name="ngModel"
            [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"  
            class="form-control" 
            placeholder="Your Name" 
            minlength="3"
            maxlength="30"
            required>
      
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="help is-error text-danger">
            <small *ngIf="name.errors.required">
              Name is required.
            </small>
            <small *ngIf="name.errors.minlength">
              Name cannot be more than 30 characters long.
            </small>
            <small *ngIf="name.errors.minlength">
              Name must be at least 3 characters long.
            </small>
          </div>
        </div>
      
        <!-- email -->
        <div class="field">
          <input 
            type="email" 
            name="email" 
            [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"  
            class="form-control" 
            placeholder="Your Email" 
            ngModel
            #email="ngModel"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
            email>
      
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="help is-error text-danger">
            <small *ngIf="email.errors.required">
              Email is required.
            </small>
            <small *ngIf="email.errors.pattern">
              Please provide a valid email address
            </small>
          </div>
        </div>
      
        <!-- message -->
        <div class="field">
          <textarea 
            [ngClass]="{'is-invalid': message.invalid && (message.dirty || message.touched)}"  
            class="form-control" 
            name="message" 
            placeholder="What's on your mind?" 
            ngModel
            #message="ngModel"
            required></textarea>
          
          <div *ngIf="message.invalid && (message.dirty || message.touched)"
            class="help is-error text-danger">
            <small *ngIf="message.errors.required">
              Message is required.
            </small>
          </div>
        </div>
      
        <button 
          type="submit" 
          class="btn btn-info" 
          [disabled]="submittingForm">
          Submit
        </button>
      
      </form>
    </div>
  </div>
</div>

