<div class="about-container">
  <div class="about-content">
    <h1>About Gracie Barra Brazilian Jiu Jitsu</h1>
    <p>The benefits of Gracie Barra Brazilian Jiu Jitsu are far reaching and will touch every aspect of your life. Gracie Barra nurtures your independent thinking, supports your fighting spirit, and helps you achieve your personal BJJ goals.</p>
  
    <p>Through GB BJJ, you will begin to understand yourself, on and off the mats and grow in confidence as a result. GB respects that each student has their own goals and we support you in reaching them. By achieving your personal goals in Jiu Jitsu you will find you are more confident in other aspects of your life.</p>  
      
    <p>GB BJJ is for anyone who wants to learn how to defend him or herself in combat. What most people don’t know, is that GB BJJ will also allow you to apply those same principles to fighting the daily battles of life, like weight loss, stress, relationship issues, and self-confidence. You will learn how to think through problems more constructively than before, on and off the mats.</p>  
      
    <p>At GB, you are a part of an extended family. You will join a team that will support you in your quest for self-improvement. Training the techniques and participating in live training sessions, with your partners and coaches, will give you an arsenal of weapons at your disposal whenever you should need them. The more you train, the more you will arm yourself with knowledge and skills to fight all your battles in life like a black belt.</p>  
      
    <p>We at Gracie Barra believe that if everyone trained GB BJJ, the world would be a better place…</p> 
  </div> 
</div>
