li:focus {
    outline: 0;
}

.social-media-icons {
    a {
        padding-left: 10px;
    }

    a:link {
        text-decoration: none;
        color: #fff;
    }
    
    a:visited {
        text-decoration: none;
        color: #fff;
    }
    
    a:hover {
        text-decoration: none;
        color:  #991b1e !important;
    }
    
    a:active {
        text-decoration: underline;
        color:  #991b1e !important;
    }
}