<div class="container contact-details-container">
  <div class="row">
      <div class="col-sm-9 col-lg-4">
        <h1>CONTACT US</h1>
      </div>
      <div class="col-lg-4">
        <h4>GRACIE BARRA DUBLIN</h4>
        <a href="https://goo.gl/maps/HC7SAdUSyCpm5Lzd7" target="_blank">
          <h5>
            1st Floor
            28 Corrig Road
            Sandyford
            Dublin 18
            (Across from Woodfire & Green)
          </h5>        
        </a>
      </div>
      <div class="col-lg-4">
        <h5>TEL: 087 9271372</h5>
        <h5>graciebarradublinireland@gmail.com</h5>
      </div>
  </div>
</div>
<!-- 
<div>
  <p>
    Gracie Barra Dublin
    1st Floor
    28 Corrig Road
    Sandyford
    Dublin 18
    (Across from Woodfire & Green)
  </p>

  <p>
    General Enquiries
    ph: 087 9271372 
    email: graciebarradublinireland@gmail.com
    We are also on Facebook Gracie Barra Dublin
    Instagram @bowechrisgraciebarradublin
  </p>

  <p>
    Kids/Teens & Ladies Classes
    ph: 0858447393 (Brian)
    email: bconnolly85@gmail.com
  </p>
  
  <p>
    Find us on FACEBOOK - graciebarra.dublin@facebook.com
  </p>
</div> -->
