<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid contact-details-container">

  <div class="row">
      <div class="col-sm-9 col-lg-4">
        <h1>CONTACT US</h1>
        <app-contact-form></app-contact-form>
      </div>
      <div class="col-lg-4">
        <h4>GRACIE BARRA DUBLIN</h4>
        <a href="https://goo.gl/maps/HC7SAdUSyCpm5Lzd7" target="_blank">
          <h5>
            1st Floor
            28 Corrig Road
            Sandyford
            Dublin 18
            (Across from Woodfire & Green)
          </h5>        
        </a>
      </div>
      <div class="col-lg-4">
        <h5>TEL: 087 9271372</h5>
        <h5>graciebarradublinireland@gmail.com</h5>
        <a class="icon icon-lg" href="https://www.facebook.com/graciebarradublinchrisbowe/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="icon icon-lg" href="http://search.google.com/local/writereview?placeid=ChIJZ_spSmYJZ0gRJV4iR7ZbQrY" target="_blank"><i class="fa fa-google"></i></a>
        <a class="icon icon-lg" href="https://www.instagram.com/gracie_barra_dublin/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="icon icon-lg" href="https://www.youtube.com/channel/UCWGA_QBqpBeob7Gx1hhOqdQ" target="_blank"><i class="fa fa-youtube"></i></a>
        <a class="icon icon-lg" href="tel:0879271372"><i class="fa fa-phone icon"></i></a>
      </div>
  </div>
</div>
