<div>
  <h2>About Gracie Barra Brazilian Jiu Jitsu</h2>
  
  <app-map></app-map>

  <app-contact-form></app-contact-form>

  <p>
    Gracie Barra Dublin
    1st Floor
    28 Corrig Road
    Sandyford
    Dublin 18
    (Across from Woodfire & Green)
  </p>

  <p>
    General Enquiries
    ph: 087 9271372 
    email: graciebarradublinireland@gmail.com
    We are also on Facebook Gracie Barra Dublin
    Instagram @bowechrisgraciebarradublin
  </p>

  <p>
    Kids/Teens & Ladies Classes
    ph: 0858447393 (Brian)
    email: bconnolly85@gmail.com
  </p>
  
  <p>
    Find us on FACEBOOK - graciebarra.dublin@facebook.com
  </p>
</div>
