<div class="container-fluid">
  <div class="row">
      <div class="col-sm-5 detailed-bg gb1-detailed-picture"></div>
      <div class="col-sm-7 detailed-text">
        <h1>GB¹ Program: The Fundamentals of the Gentle Art</h1>
        <p>Top performing fighters and individuals follow a common set of principles that sustain their success. The practice of Gracie Barra Jiu-Jitsu allows individuals to understand these principles through an exciting process that combines instruction, observation, practice, appropriate feedback, live training and competition.</p>
        <p>Students experience results that go beyond gains in strength, flexibility, fitness or self-defense skills. By remaining truthful to the lessons learned in practice and applying them off the mats, Gracie Barra students experience an overall improvement on their focus, energy and general well-being.   </p>
        <p>The GB¹ Program teaches these basic principles of effective fighting to individuals like you. Its structure condenses an immense diversity of Jiu-Jitsu into core fundamental moves combined intelligently and safely to optimize your learning.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-7 detailed-text">
      <h1>GB² PROGRAM - ADVANCED JIU-JITSU</h1>
      <p>The Gracie Barra Program Structure defines three main stages of development for students: the GB¹ Program – Jiu-Jitsu Fundamentals, the GB² Program – Advanced Jiu-Jitsu, and the GB³ Program – Expert Jiu-Jitsu. These stages indicate different maturity levels and students upgrade from one to the other in their own natural progression.      </p>
      <p>While the GB¹ Program focuses on the building blocks and basic principles of Brazilian Jiu-Jitsu, the GB² Program is built on high-level techniques and drills that start shaping the students game flow through the development of reflexes, speed and reaction time as well as transitions between one technique and another.</p>
      <p>After a few months in the GB² Program students typically experience a deeper involvement in GB’s philosophy, a stronger bond with training partners as well as more discipline and commitment to healthy habits that keep them in good shape.</p>
      <p>GB² Program classes are based on a defined class structure and curriculum that take a broad and open-minded approach, incorporating techniques from different grappling styles like wrestling, judo, sambo, and, of course, Gracie Barra Jiu-Jitsu.</p>
    </div>
    <div class="col-sm-5 detailed-bg gb2-detailed-picture"></div>
  </div>
  <div class="row">
    <div class="col-sm-5 detailed-bg kids-detailed-picture"></div>
    <div class="col-sm-7 detailed-text">
      <h1>GRACIE BARRA KIDS PROGRAM</h1>
      <p>To excel in any endeavor, individuals need to have a strong set of values and a solid character that gives them perseverance to achieve his or her goals. The Gracie Barra Kids Program was created to provide children ages 3-15 with an environment that allows them to experience and understand core values like focus, discipline, persistence, cooperation and respect.</p>
      <p>As a contact sport, Gracie Barra Jiu-Jitsu provides a very challenging yet safe and caring environment for a child to mature towards a real life champion. The outcome of continued childhood practice of GB Jiu-Jitsu goes far beyond the accomplishments on the mats. The discipline and excellence demanded by our instructors often carries over to the child’s behavior at home and at school.</p>
      <p>Our Our Gracie Barra Kids Program is typically subdivided in three different groups to accommodate students of different ages and skill levels:</p>

      <ul>
        <li>Little Champions I (3-6 years old)</li>
        <li>Little Champions II (7-9 Years Old)</li>
        <li>Juniors & Teens (10-14 years old)</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 detailed-text detailed-text">
      <h1>WOMEN’S SELF DEFENSE</h1>
      <p>Women’s Self Defense provides an intense, full-body workout that’s the perfect way to lose weight, increase your muscle mass, and get into great shape. By combining cardiovascular training with toning and training, Women’s Self Defense students push their bodies hard and learn what they are capable of. It’s a great way to burn calories in a fun and supportive setting that encourages all students to do their best.</p>
      <p>The thought of having to defend yourself against a bigger, stronger assailant might be scary, but Women’s Self Defense is designed to help you overcome your fears. By teaching students to take the fight to the ground where they can use chokeholds and other effective techniques to defend themselves, Women’s Self Defense helps leverage even a small body into a huge problem for an attacker. Best of all, Women’s Self Defense builds strength and agility, both of which help in self-defense situations.</p>
      <p>There’s no feeling quite like the feeling of knowing that your body is strong, agile, and able to do whatever you want it to do. Studying Women’s Self Defense gives students the knowledge that they can leverage their body’s strength to accomplish things they never thought possible. Over time, it increases self-confidence and pride – and that carries over to work, home, and every area of your personal life.</p>
    </div>
    <div class="col-sm-5 detailed-bg womens-detailed-picture"></div>
  </div>
</div>