@import '../constants/constants.scss';

.row:nth-child(odd) .detailed-text{
    background-color: #f4f4f4;
}

.detailed-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 575px) {
        height: 50vh;
    }

    &.kids-detailed-picture {
        background-image: url( $cloudfront-url + "gb-kids-detailed.jpg" );
        
    }
    
    &.gb1-detailed-picture {
        background-image: url( $cloudfront-url + "gb-gb1-detailed.jpg" );
    }
    
    &.gb2-detailed-picture {
        background-image: url( $cloudfront-url + "gb-gb2-detailed.jpg" );
    }
    
    &.womens-detailed-picture {
        background-image: url( $cloudfront-url + "gb-womens-detailed.jpg" );
    }
}

.detailed-text {
    padding: 25px;
}




