<div>
  <h2>What are your prices for membership?</h2>
  <p>Our prices are as below. Please see the Glofox App for all available options.</p>
  <p>Adults €99 per month (+ €50 sign up fee),</p>
  <p>€75 per month students (+ €50 sign up fee),</p>
  <p>Ladies Self Defence Programme €70 per month (entitles the holder to entry to twice weekly</p>
  <p>ladies only classes and any morning, afternoon or weekend GB1 classes)</p>
  <p>Combined Yoga Lab and GB membership, €119 (+€50 sign up fee)</p>
  <p>Yoga Lab Membership €55 per month</p>
  <p>Kids and teens:</p>
  <p>Child and teen membership €55 per month</p>
  <p>Juvenile 16-18 yrs (ID required) €60</p>
</div>
