<div class="container instructor-container">
  <div class="row">
    <div class="col-sm-9 col-lg-3">
    </div>
    <div class="col-lg-6 instructor-bio" >
      <img src="assets/cb2.jpg" alt="instructor-pic" class="profile-pic">

      <h2>Chris Bowe</h2>
      <ul>
        <li>Rank: Black Belt under Braulio Estima</li>
        <li>D.O.B: 08/08/1984</li>
        <li>Weight: 96kg</li>
        <li>Height: 189cm</li>
      </ul>

      <ul>
        <li>2017 World Professional Championship Silver 110kg  Adult</li>
  
        <li>2017 IBJJF European Open Bronze Superheavy</li>
    
        <li>2016 IBJJF European Open Bronze Superheavy</li>
    
        <li>2015 IBJJF European Open Silver Superheavy</li>
    
        <li>10 x Abu Dhabi Pro Championship Winner Black Belt</li>
    
        <li>2013 IBJJF World Silver Medallist Superheavy</li>
    
        <li>2013 IBJJF World Absolute Bronze</li>
    
        <li>2013 & 2012 IBJJF European Silver Medallist Superheavy</li>
    
        <li>2013 IBJJF European Absolute Bronze</li>
    
        <li>2014 IBJJF London Open Superheavy Gold & Absolute Silver</li>
    
        <li>10 x British Open Champion</li>
      </ul>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-xs-12"></div>
  </div>
</div>