/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #444444;
}

