/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
html, body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #ffffff;
  color: #444444;
  padding-top: 28px;
}

